*.py[co]
*.sw[po]
*.bak
*.orig
*~
*.log
*.egg-info
.project
.pydevproject
venv/
virtenv/
dist/
build/
data/
backup-reqs.txt

data/.localmyenv

data/.myenv

gettranslations.sh

libs/quickstart.py

notes.txt

runserver.sh

sendtranslations.sh

shell.sh

TODO.txt

wsgi/openshift/db.sqlite3

wsgi/static/scripts/bootstrap.minOLD.js

wsgi/static/styles/bootstrap-theme.minOLD.css

wsgi/static/styles/bootstrap.minOLD.css

cronserver.sh

ultimmodified.sql

.tm_properties

broquil.db

broquil.tmproj

reqs.txt

*.sh

quickstart.py
