{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
<h1>{% trans "Distribute product" %}</h1>
{% endblock %}

{% block header_style %}visible-md-block visible-lg-block{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="/static/styles/sco.message.css" type="text/css">
{% endblock %}

{% block scriptincludes %}
<script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
<!-- <script type="text/javascript" src="/static/scripts/jquery.dataTables.min.js"></script> -->
<script type="text/javascript" src="/static/scripts/bootstrap-formhelpers-number.js"></script>
<script type="text/javascript" src="/static/scripts/sco.message.js"></script>
{% endblock %}


{% block content %}
	{% include "distribution/wizard.html" with step=2 current_product_no=current_product_no total_products=total_products %}
	<br/>
	<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans "In case the product quantity/weight has to be changed, make the changes and don't forget to save them." %}</div>
	
    <div id="content-main" class="inner-two-columns">
        <form action="{% url 'view_product_orders' current_product_no %}" method="POST">
	    	{% csrf_token %}
	    	<input id="product_price" name="product_price" type="hidden" value="{{ current_product.price }}" />
			<div>
				<div>
				<ul class="pager">
				{% if prev_product_no %}	
				  <li class="previous"><a href="{% url 'view_product_orders' prev_product_no %}">&larr; {{ prev_product_name }}</a></li>
				{% else %}	
				  <li class="previous"><a href="{% url 'view_basket_counts' %}">&larr; {% trans "Prepare baskets" %}</a></li>
				{% endif %}
				  <li>
                      <h3 class="fillSpace">{{ current_product.name }}{% if current_product.stock_product %} <span class="label label-primary">{% trans "STOCK" %}</span>{% endif %} {% if update_weights %}<img class="scale-image" src="/static/images/scale.png"/>{% endif %}</h3>
                        <div class="btn-group">
                          <select class="form-control" id="jump_to_product">
				  		    <option value="-1">{% trans "JUMP" %}</option>
                            {% for single_product in all_products %}
                              <option value="{{ single_product.id }}" data-url="{% url 'view_product_orders_with_id' single_product.id %}">{{ single_product.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                  </li>
				{% if next_product_no %}
				  <li class="next"><a href="{% url 'view_product_orders' next_product_no %}">{{ next_product_name }} &rarr;</a></li>
				{% else %}	
				  <li class="next"><a href="{% url 'member_payment' %}">{% trans "Payment" %} &rarr;</a></li>
				{% endif %}
				</ul>
				</div>
				<div class="table-responsive col-md-offset-2 col-md-8">
					<table id="table_product_order" class="product_order_table table table-striped table-condensed table-bordered" >
					<thead>
						<tr><th class="member_name_header">{% trans "Cooperative Member" %}</th><th class="product_order_header">{% trans "Order" %} ({{ current_product.unit }})</th><th class="product_order_header">{% trans "Arrived" %} ({{ current_product.unit }})</th><th class="product_order_header">{% trans "Total" %}</th></tr>
					</thead>
					<tbody>
						{% for order in product_orders %}
						<tr class="selectablerow" id="selectablerow_{{ order.id }}">
							<td class="member_name_col">{{ order.user.first_name }} {{ order.user.last_name }}</td>
							<td class="quantity"><input id="order_{{ order.id }}" name="order_{{ order.id }}" type="text" class="product-order form-control bfh-number" data-keyboard="true" data-integer="false" data-buttons="false" value="{{ order.quantity }}" disabled /></td>
							<td class="quantity"><input id="order_arrived_{{ order.id }}" name="order_arrived_{{ order.id }}" type="text" class="product-order form-control bfh-number arrived-quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ order.arrived_quantity }}"/></td>
							<td class="quantity"><label id="total_price_{{ order.id }}" class="form-control-static text-primary calculated-price"></label>  <strong>&euro;</strong></td>
						</tr>
						{% endfor %}
						<tr id="additional_row_entry">
							<td colspan="4" style="text-align: center;">
								<button id="add_rows_button" type="button" class="btn btn-primary">
								  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Add order for another member" %}
								</button>
							</td>
						</tr>
						<tr {% if product_order %}class="success"{% endif %}>
							<td class="total-info">{% trans "TOTAL:" %}</td>
							<td class="success total-lg" style="border: 2px solid green;">{{ total_quantity|floatformat:-2 }} {{ current_product.unit }}</td>
							<td class="success total-lg" style="border: 2px solid green;">{{ total_arrived_quantity|floatformat:-2 }} {{ current_product.unit }}</td>
						</tr>
					</tbody>
					</table>
				</div>
				<div class="col-md-2">
					<div class="sidebar">
					<button id="save_button" type="button" class="btn btn-lg btn-success pull-right" disabled="disabled">{% trans "Save changes" %}</button>
					</div>
				</div>
			</div>
			
        </form>
    </div>
	    </div>
	  	<script type="text/template" id="new-row-template">
			<tr>
				<td class="member_name_col">
					 <select name="additional_member[]" class="form-control">
				  		<option value="">{% trans "CHOOSE MEMBER" %}</option>
				  		{% for member in all_members %}
					  		<option value="{{ member.pk }}">{{ member.get_full_name }}</option>
					  	{% endfor %}
					</select>
				</td>
				<td class="quantity"></td>
				<td class="quantity"><input name="additional_quantity[]" type="text" class="product-order form-control bfh-number arrived-quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false"/></td>
				<td class="quantity"><label id="additional_price[]" class="form-control-static text-primary calculated-price"></label>  <strong>&euro;</strong></td>
			</tr>
		</script>
{% endblock %}


{% block extrascripts %}
<script type="text/javascript">
	 $(function() {
		// Set selected menu item
		$('#menu-item-distribution').addClass("active");
		
		// Cookie parameters for this page
		var cookie_name = 'selected_person_rows_'+{{ current_product.id }};
		var cookie_expires = 2;
		
		// On row clicked, add/remove highlight ('success' class) to the person row
		// Update the cookie value that contains the selected rows and save cookie
		$(".selectablerow").click(function(e){
			var person_id = $(this).attr('id').split('_')[1];

			cookie_value = $.cookie(cookie_name);
			
			if (cookie_value == undefined)
				cookie_value = '';
			
			if(e.target.tagName.toLowerCase() !== 'input' &&
				  e.target.tagName.toLowerCase() !== 'textarea') {
				if($(this).hasClass("success")){
				 	$(this).removeClass("success");
					cookie_value = cookie_value.replace(';' + person_id + ';', '');
				}
				else {
				 	$(this).addClass("success");
					cookie_value += ';' + person_id + ';';
				}
				
				$.cookie(cookie_name, cookie_value, { expires: cookie_expires });
			}
		});
		
		// If left and right arrow keys are pressed (outside input boxes), 
		// switch to next or previous product
		$("body").keydown(function(e) {
		  if( e.target.tagName.toLowerCase() !== 'input' &&
			  e.target.tagName.toLowerCase() !== 'textarea' && 
			  e.keyCode == 37) { // left
			if($('li.previous > a').length)
		    	window.location = $('li.previous > a').attr('href');
		  }
		  else if(	e.target.tagName.toLowerCase() !== 'input' &&
			  		e.target.tagName.toLowerCase() !== 'textarea' && 
					e.keyCode == 39) { // right
			if($('li.next > a').length)
				window.location = $('li.next > a').attr('href');
		  }
		});
		
		// If text inputs are changed, enable the save button
		$('input.product-order').keydown(function( e ) {
			$('#save_button').removeAttr('disabled');
		});
		
		amount_change_handler = function(e) {
		    var parent_row = $($(e.target).parent().parent()); 
		    var arrived_text = parent_row.find('.arrived-quantity');
		    var price_label = parent_row.find('.calculated-price'); 
            
            var price = parseFloat($('#product_price').val().replace(',', '.'));
		    var arrived_amount = parseFloat(arrived_text.val().replace(',', '.'));
		    
		    var calculated_price = price*arrived_amount;
		    
		    if(isNaN(calculated_price)) {
		        calculated_price = 0;
		    }
		    price_label.text(calculated_price.toFixed(2));
		
		};
		
		$('input.product-order').keyup(amount_change_handler);
		$('input.product-order').change(amount_change_handler);
		
		$('input.product-order').trigger('change');
		
		// Read the cookie, highlight the rows contained in the saved selected row list
		selected_rows = $.cookie(cookie_name);
		if(selected_rows != undefined) {
			selected_rows = selected_rows.split(';');
		
			for(i=0; i<selected_rows.length; i++) {
				if(selected_rows[i]) {
					$('#selectablerow_' + selected_rows[i]).addClass("success");
				}
			}
		}

		// Click an item when list item is clicked
		$(".wizard > .steps > li").click(function(e){
			e.target.children[0].click();
		});
		
		// Activate the save button's form submit
		$("#save_button").click(function(e) {
			$("form").submit();
		});
		
		$("#add_rows_button").click(function(e) {
			var row_template = $("#new-row-template").html();
			$("#additional_row_entry").before(row_template);
			
			// Rewire the events
			$('input.product-order').keydown(function( event ) {
				$('#save_button').removeAttr('disabled');
			});
			
    		$('input.product-order').keyup(amount_change_handler);
    		$('input.product-order').change(amount_change_handler);
		})
        
        $("#jump_to_product").change(function() {
            window.location.href = $("#jump_to_product>option:selected").data('url');
        });
	  });
</script>
{% endblock %}