{% extends "base.html" %}
{% load i18n %}
{% load admin_urls %}

{% block content_title %}
<h1>{% trans "View distribution summary" %}</h1>
{% endblock %}


{% block content %}
    <div id="content-main" class="inner-two-columns">
		<div class="row">
			<div class="col-md-12">
				<form id="distribution_date" role="form"  action="{% url 'elbroquil.views.view_distribution_detail' %}" method="POST"  class="form-horizontal">
		         {% csrf_token %}	
					<div class="form-group col-md-12">
			      		<label for="date" class="control-label col-md-3">{% trans "Distribution date"%}</label>
						<div class="col-md-6">
							<select id="date" name="date" class="form-control" value="{{ selected_date }}">
								<option value="-1">{% trans "CHOOSE DISTRIBUTION DATE" %}</option>
								{% for text, value in distribution_dates %}
							  		<option value="{{ value }}" {% if value == selected_date %}selected{% endif %}>{{ text }}</option>
							  	{% endfor %}
							</select>
						</div>
					</div>	
					<div class="form-group col-md-12">
 						<label for="only-latest" class="control-label col-md-3">{% trans "Show only recent dates"%}</label>
						<div class="col-md-6">
							<input id="only-latest" name="only-latest" type="checkbox" {% if only_latest_dates %}checked{% endif %}>
						</div>
					</div>
				</form>
			</div>
		</div>
		{% if selected_date %}
		<div class="row">
			<form id="dummy" role="form"  action="#" method="GET" class="form-horizontal">
			<div class="col-md-12">
				<div class="form-group has-success">
			    	<label for="initial-amount" class="control-label col-md-4">{% trans "Initial cash:" %}</label>
			    	<div class="col-md-3">
				    	<div class="input-group"> 
							<input id="initial-amount" name="initial-amount" type="text" class="form-control bfh-number input-lg quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ initial_cash }}" data-trailingzeros="true" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				
				<div class="thumbnail producer-group">
					<h3><span class="glyphicon glyphicon-sort blue-icon"></span> {% trans "Payments from Members" %}</h3>
					<div class="form-group has-success">
				    	<label for="collected-amount" class="control-label col-md-4">{% trans "Collected from members:" %}</label>
				    	<div class="col-md-3">
					    	<div class="input-group"> 
								<input id="collected-amount" name="collected-amount" type="text" class="form-control bfh-number input-lg quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ collected_amount }}" data-trailingzeros="true" disabled/>
					      		<div class="input-group-addon"><strong>&euro;</strong></div>
							</div>
						</div>
					</div>
					<div class="form-group">
				    	<label for="consumed-amount" class="control-label col-md-4">{% trans "Members consumption:" %}</label>
				    	<div class="col-md-3">
					    	<div class="input-group"> 
								<input id="consumed-amount" name="consumed-amount" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ member_consumed_amount }}" data-trailingzeros="true" disabled/>
					      		<div class="input-group-addon"><strong>&euro;</strong></div>
							</div>
						</div>
					</div>
					<div class="form-group">
				    	<label for="quarterly-collected-amount" class="control-label col-md-4">{% trans "Collected quarterly fees:" %}</label>
				    	<div class="col-md-3">
					    	<div class="input-group"> 
								<input id="quarterly-collected-amount" name="quarterly-collected-amount" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ quarterly_fee_collected_amount }}" data-trailingzeros="true" disabled/>
					      		<div class="input-group-addon"><strong>&euro;</strong></div>
							</div>
						</div>
					</div>
					<div class="form-group">
				    	<label for="debt-balance" class="control-label col-md-4">{% trans "Debt balance:" %}</label>
				    	<div class="col-md-3">
					    	<div class="input-group"> 
								<input id="debt-balance" name="debt-balance" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ debt_balance }}" data-trailingzeros="true" data-min="-9999" disabled/>
					      		<div class="input-group-addon"><strong>&euro;</strong></div>
							</div>
						</div>
					</div>
				</div>
				<div class="thumbnail producer-group">
					<h3><span class="glyphicon glyphicon-envelope blue-icon"></span> {% trans "Paid to Producers" %}</h3>
					{% for payment in producer_payments %}
					<div class="form-group has-success">
				    	<label for="producer-payment-{{ payment.producer.id }}" class="control-label col-md-4">{{ payment.producer.company_name }}</label>
				    	<div class="col-md-3">
					    	<div class="input-group"> 
								<input id="producer-payment-{{ payment.producer.id }}" name="producer-payment-{{ payment.producer.id }}" type="text" class="form-control bfh-number input-lg quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ payment.amount }}" data-trailingzeros="true" disabled/>
					      		<div class="input-group-addon"><strong>&euro;</strong></div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="form-group has-success">
			    	<label for="final-amount" class="control-label col-md-4">{% trans "Final cash:" %}</label>
			    	<div class="col-md-3">
				    	<div class="input-group">
							<input id="final-amount" name="final-amount" type="text" class="form-control bfh-number input-lg quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ final_amount }}" data-trailingzeros="true" data-min="-9999" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				<div class="form-group {% if large_final_difference %} has-error {% else %} has-success {% endif %}">
			    	<label for="expected-final-amount" class="control-label col-md-4">{% trans "Expected final cash:" %}</label>
			    	<div class="col-md-3">
				    	<div class="input-group">
							<input id="expected-final-amount" name="expected-final-amount" type="text" class="form-control bfh-number input-lg quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ expected_final_amount }}" data-trailingzeros="true" data-min="-9999" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel-group" id="accordion">
				  <div class="panel panel-default">
				    <div class="panel-heading {% if not_arrived_product_list|length > 0 or amount_changed_product_list|length > 0 %}incident-panel{% endif %}">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" href="#collapseTwo">
					    	{% trans "INCIDENTS" %}
				        </a>
				      </h4>
				    </div>
					{% if not_arrived_product_list|length > 0 or amount_changed_product_list|length > 0 %}
				    <div id="collapseTwo" class="panel-collapse collapse in">
				      <div class="panel-body">	
						<div class="row">
							<div class="col-md-3">
								<table class="table table-striped">
								  <thead>
							        <tr>
							          <th>{% trans "Not Arrived"%}</th>
							        </tr>
							      </thead>
							      <tbody>
									{% if not_arrived_product_list|length > 0 %}
										{% for product in not_arrived_product_list %}
							        	<tr><td>{{ product.name }}</td></tr>
										{% endfor %}
									{% else %}
								        <tr><td class="centered">---</td></tr>
									{% endif %}
							      </tbody>
							    </table>
							</div>
						    <div class="col-md-8">
								<table class="table table-striped">
								  <thead>
							        <tr>
							          <th colspan="3">{% trans "Amount Changed"%}</th>
							        </tr>
									{% if amount_changed_product_list|length > 0 %}
								    <tr>
							          <th></th><th class="quantity">{% trans "Ordered"%}</th><th class="quantity">{% trans "Arrived"%}</th>
							        </tr>	
									{% endif %}
							      </thead>
							      <tbody>
									{% if amount_changed_product_list|length > 0 %}
										{% for product in amount_changed_product_list %}
							        	<tr><td>{{ product.name }}</td><td class="quantity">{{ product.total_quantity }} {{ product.unit }}</td><td class="quantity">{{ product.arrived_quantity }} {{ product.unit }}</td></tr>
										{% endfor %}
									{% else %}
								        <tr><td class="centered">---</td></tr>
									{% endif %}
							      </tbody>
							    </table>
							</div>
						</div>
				      </div>
				    </div>
					{% else %}
					<div id="collapseTwo" class="panel-collapse collapse in">
						<div class="panel-body">
							<p>{% trans "NO INCIDENTS" %}</p>
						</div>
					</div>
					{% endif %}
				  </div>
				</div>
			</div>
		</div>		
		{% endif %}
    </div>
{% endblock %}



{% block extrascripts %}
<script type="text/javascript">
	 $(function() {	
		// Set selected menu item
		$('#menu-item-accounting').addClass("active");
		
		// Bind the event so that when form items change, form is submitted
		$("#date").change(function(e) {
			$("#distribution_date").submit();
		});
		
		$("#only-latest").change(function(e) {
			$("#distribution_date").submit();
		});
	  });	
</script>
{% endblock %}