{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
<h1>{% trans "Accounting summary" %}</h1>
{% endblock %}


{% block extrahead %}
{% endblock %}

{% block scriptincludes %}
<script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/scripts/bootstrap-formhelpers-number.js"></script>
{% endblock %}


{% block content %}
	<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans "Count the final amount in the drawer and save it here. Make sure it more or less equals the expected amount." %}</div>
	
    <div id="content-main" class="inner-two-columns">
		<div class="progress">
		  <div class="progress-bar progress-bar-warning" style="width: 12%">
		    <span class="sr-only">{% trans "Checked arrived products" %}</span>
		  </div>
		  <div class="progress-bar progress-bar-info" style="width: 76%">
		    <span class="sr-only">{% trans "Distributed products" %}</span>
		  </div>
	      <div class="progress-bar progress-bar-success" style="width: {{ progress }}%">
		    <span class="sr-only">{{ progress }}% {% trans "Closing account" %}</span>
		  </div>
		</div>
		
		<div>
			<ul class="pager">	
				<li class="previous"><a href="{% url 'elbroquil.views.member_payment' %}">&larr; {% trans "Payment" %}</a></li>
			  	<!--<li class="next"><a href="{% url 'elbroquil.views.update_order' 2 %}">{{ "next_category_name" }} &rarr;</a></li>-->
			</ul>
		</div>
		
		<div class="row">
        <form id="account-form" role="form"  action="{% url 'elbroquil.views.account_summary' %}" method="POST"  class="form-horizontal col-md-offset-2 col-md-10">
            	{% csrf_token %}
			<div class="col-md-10">
				<div class="form-group">
			    	<label for="initial-amount" class="control-label col-md-4">{% trans "Initial cash:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group"> 
							<input id="initial-amount" name="initial-amount" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ initial_amount }}" data-trailingzeros="true" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				<div class="form-group">
			    	<label for="collected-amount" class="control-label col-md-4">{% trans "Collected from members:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group"> 
							<input id="collected-amount" name="collected-amount" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ collected_amount }}" data-trailingzeros="true" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				<!--
				<div class="form-group">
			    	<label for="debt-balance" class="control-label col-md-4">{% trans "Debt balance:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group"> 
							<input id="debt-balance" name="debt-balance" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ debt_balance }}" data-trailingzeros="true" data-min="-9999" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>-->
				<div class="thumbnail producer-group">
				<h3><span class="glyphicon glyphicon-envelope"></span> {% trans "Pay to Producers" %}</h3>
				{% for producer, payment in producer_payments %}
				<div class="form-group">
			    	<label for="producer-payment-{{ producer.id }}" class="control-label col-md-4">{{ producer.company_name }}</label>
			    	<div class="col-md-4">
				    	<div class="input-group"> 
							<input id="producer-payment-{{ producer.id }}" name="producer-payment-{{ producer.id }}" type="text" class="form-control bfh-number input-lg quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ payment }}" data-trailingzeros="true" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				{% endfor %}
				</div>
				<div class="form-group">
			    	<label for="final-amount" class="control-label col-md-4">{% trans "Final cash:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group">
							<input id="final-amount" name="final-amount" type="text" class="form-control bfh-number input-lg quantity focusedInput" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ final_amount }}" data-trailingzeros="true" data-min="-9999"/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
						<p class="text-info">{% trans "Expected final cash:" %} <label id="amount-next-debt" class="form-control-static text-primary">{{ expected_final_amount }}</label> <strong>&euro;</strong></p>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="sidebar">
				<button id="save_button" type="submit" class="btn btn-lg btn-success pull-right">{% trans "Save changes" %}</button>
				</div>
			</div>
		</form>
		</div>
 	</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
	 $(function() {
		// Set selected menu item
		$('#menu-item-distribution').addClass("active");
		
		// If left and right arrow keys are pressed (outside input boxes), 
		// switch to next or previous product
		$("body").keydown(function(e) {
		  if( e.target.tagName.toLowerCase() !== 'input' &&
			  e.target.tagName.toLowerCase() !== 'textarea' && 
			  e.keyCode == 37) { // left
			if($('li.previous > a').length)
				window.location = $('li.previous > a').attr('href');
		  }
		  else if(	e.target.tagName.toLowerCase() !== 'input' &&
			  		e.target.tagName.toLowerCase() !== 'textarea' && 
					e.keyCode == 39) { // right
			if($('li.next > a').length)
				window.location = $('li.next > a').attr('href');
		  }
		});
		
		/*
		// If text inputs are changed, enable the save button
		$('#initial-cash').keyup(function( event ) {
			$('#save_button').removeAttr('disabled');
		});
		
		// Activate the save button's form submit
		$("#save_button").click(function(e) {
		    $("form").submit();
		});
		*/
	  });
</script>
{% endblock %}