{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
<h1>{% trans "Accounting summary" %}</h1>
{% endblock %}

{% block header_style %}visible-md-block visible-lg-block{% endblock %}

{% block extrahead %}
{% endblock %}

{% block scriptincludes %}
<script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/scripts/bootstrap-formhelpers-number.js"></script>
{% endblock %}


{% block content %}
	{% include "distribution/wizard.html" with step=4 current_product_no=0 total_products=0 %}
	<br/>
	<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans "<strong>Prepare the envelopes</strong> for each producer, placing the required amount of money inside.<br/>Count the <strong>final amount</strong> in the drawer and save it here. Make sure it more or less equals the expected amount." %}</div>
	
	{% if initial_amount == 0 %}
	<div class="alert alert-danger"><span class="glyphicon glyphicon-info-sign"></span> {% trans "The initial cash has not been entered!" %}</div>
	{% endif %}
	
	{% if order_count != payment_count %}
	<div class="alert alert-danger"><span class="glyphicon glyphicon-info-sign"></span> {% blocktrans %}There are {{ order_count - payment_count }} members who were not charged yet! If you continue, remaining amount will be saved as debt.{% endblocktrans %}</div>
	{% endif %}
	
    <div id="content-main" class="inner-two-columns">
		<div>
			<ul class="pager">	
				<li class="previous"><a href="{% url 'elbroquil.views.member_payment' %}">&larr; {% trans "Payment" %}</a></li>
			  	<!--<li class="next"><a href="{% url 'elbroquil.views.update_order' 2 %}">{{ "next_category_name" }} &rarr;</a></li>-->
			</ul>
		</div>
		
		<div class="row">
        <form id="account-form" role="form"  action="{% url 'elbroquil.views.account_summary' %}" method="POST"  class="form-horizontal col-md-offset-2 col-md-10">
            	{% csrf_token %}
			<div class="col-md-10">
				<div class="form-group {% if initial_amount == 0 %}has-error{% endif %}">
			    	<label for="initial-amount" class="control-label col-md-4">{% trans "Initial cash:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group"> 
							<input id="initial-amount" name="initial-amount" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ initial_amount }}" data-trailingzeros="true" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				<div class="form-group {% if order_count != payment_count %}has-error{% endif %}">
			    	<label for="collected-amount" class="control-label col-md-4">{% trans "Collected from members:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group"> 
							<input id="collected-amount" name="collected-amount" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ collected_amount }}" data-trailingzeros="true" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				<div class="thumbnail producer-group">
				<h3><span class="glyphicon glyphicon-envelope"></span> {% trans "Pay to Producers" %}</h3>
				{% for producer, payment in producer_payments %}
				<div class="form-group has-success">
			    	<label for="producer-payment-{{ producer.id }}" class="control-label col-md-4">{{ producer.company_name }}</label>
			    	<div class="col-md-4">
				    	<div class="input-group"> 
							<input id="producer-payment-{{ producer.id }}" name="producer-payment-{{ producer.id }}" type="text" class="form-control bfh-number input-lg quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ payment }}" data-trailingzeros="true" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				{% endfor %}
				</div>
				<div class="form-group">
			    	<label for="final-amount" class="control-label col-md-4">{% trans "Final cash:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group">
							<input id="final-amount" name="final-amount" type="text" class="form-control bfh-number input-lg quantity focusedInput" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ final_amount }}" data-trailingzeros="true" data-min="-9999"/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
						<p class="text-info">{% trans "Expected final cash:" %} <label id="amount-next-debt" class="form-control-static text-primary">{{ expected_final_amount }}</label> <strong>&euro;</strong></p>
					</div>
				</div>
				<div class="form-group">
			    	<label for="notes" class="control-label col-md-4">{% trans "Notes:" %}</label>
			    	<div class="col-md-8">
				    	<div class="input-group">
							<textarea id="notes" name="notes" rows="8" cols="40" class="form-control input-lg">{{ notes }}</textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="sidebar">
				<button id="save_button" type="submit" class="btn btn-lg btn-success pull-right">{% trans "Save changes" %}</button>
				</div>
			</div>
		</form>
		</div>
 	</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
	 $(function() {
		// Set selected menu item
		$('#menu-item-distribution').addClass("active");
		
		// If left and right arrow keys are pressed (outside input boxes), 
		// switch to next or previous product
		$("body").keydown(function(e) {
		  if( e.target.tagName.toLowerCase() !== 'input' &&
			  e.target.tagName.toLowerCase() !== 'textarea' && 
			  e.keyCode == 37) { // left
			if($('li.previous > a').length)
				window.location = $('li.previous > a').attr('href');
		  }
		  else if(	e.target.tagName.toLowerCase() !== 'input' &&
			  		e.target.tagName.toLowerCase() !== 'textarea' && 
					e.keyCode == 39) { // right
			if($('li.next > a').length)
				window.location = $('li.next > a').attr('href');
		  }
		});
		
		// Click an item when list item is clicked
		$(".wizard > .steps > li").click(function(e){
			e.target.children[0].click();
		});
		
		/*
		// If text inputs are changed, enable the save button
		$('#initial-cash').keyup(function( event ) {
			$('#save_button').removeAttr('disabled');
		});
		
		// Activate the save button's form submit
		$("#save_button").click(function(e) {
		    $("form").submit();
		});
		*/
	  });
</script>
{% endblock %}