{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
<h1>{% trans "Count initial cash" %}</h1>
{% endblock %}


{% block extrahead %}
{% endblock %}

{% block scriptincludes %}
<script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
<!-- <script type="text/javascript" src="/static/scripts/jquery.dataTables.min.js"></script> -->
<script type="text/javascript" src="/static/scripts/bootstrap-formhelpers-number.js"></script>
{% endblock %}


{% block content %}
	{% include "distribution/wizard.html" with step=1 current_product=0 total_products=0 %}
	<br/>
	<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans "Count the total money in the drawer and save the amount here." %}</div>
	
    <div id="content-main" class="inner-two-columns">
        <form action="{% url 'elbroquil.views.count_initial_cash' %}" method="POST" class="form-inline">
	    	{% csrf_token %}
			<div>
				<div>
					<ul class="pager">
					  <li class="previous"><a href="{% url 'elbroquil.views.view_order_totals' %}">&larr; {% trans "Back to order summary" %}</a></li>
					  <li class="next"><a href="{% url 'elbroquil.views.view_basket_counts' %}">{% trans "Prepare baskets" %} &rarr;</a></li>
					</ul>
					</div>
				</div>
				<div class="form-group col-md-10">
			    	<label for="initial-cash" class="col-md-offset-2 col-md-2 control-label">{% trans "Initial cash:" %}</label>
			    	<div class="col-md-6">
				    	<div class="input-group"> 
							<input id="initial-cash" name="initial-cash" type="text" class="form-control bfh-number input-lg" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ initial_cash }}"/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="sidebar">
					<button id="save_button" type="button" class="btn btn-lg btn-success pull-right" disabled="disabled">{% trans "Save changes" %}</button>
					</div>
				</div>
			</div>
		</form>
    </div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
	 $(function() {
		// Set selected menu item
		$('#menu-item-distribution').addClass("active");
		
		// If left and right arrow keys are pressed (outside input boxes), 
		// switch to next or previous product
		$("body").keydown(function(e) {
		  if( e.target.tagName.toLowerCase() !== 'input' &&
			  e.target.tagName.toLowerCase() !== 'textarea' && 
			  e.keyCode == 37) { // left
			if($('li.previous > a').length)
				window.location = $('li.previous > a').attr('href');
		  }
		  else if(	e.target.tagName.toLowerCase() !== 'input' &&
			  		e.target.tagName.toLowerCase() !== 'textarea' && 
					e.keyCode == 39) { // right
			if($('li.next > a').length)
				window.location = $('li.next > a').attr('href');
		  }
		});

		// Click an item when list item is clicked
		$(".wizard > .steps > li").click(function(e){
			e.target.children[0].click();
		});
		
		// If text inputs are changed, enable the save button
		$('#initial-cash').keyup(function( event ) {
			$('#save_button').removeAttr('disabled');
		});
		
		// Activate the save button's form submit
		$("#save_button").click(function(e) {
		    $("form").submit();
		});
	  });
</script>
{% endblock %}