{% extends "base.html" %}
{% load i18n %}
{% load mathfilters %}

{% block content_title %}
<h1>{% trans "Member payments" %}</h1>
{% endblock %}

{% block header_style %}visible-md-block visible-lg-block{% endblock %}

{% block extrahead %}
{% endblock %}

{% block scriptincludes %}
<script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
<!-- <script type="text/javascript" src="/static/scripts/jquery.dataTables.min.js"></script> -->
<script type="text/javascript" src="/static/scripts/bootstrap-formhelpers-number.js"></script>
{% endblock %}


{% block content %}
	{% include "distribution/wizard.html" with step=3 current_product=0 total_products=0 %}
	<br/>
	<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans "Choose the member and charge him the required amount. In case the user wants to pay the quarterly fee, mark the box to add it to the total amount. If you or the member does not have change, just enter the paid amount and the rest will be saved as debt." %}</div>
	
    <div id="content-main" class="inner-two-columns">
		<div>
			<ul class="pager">	
				<li class="previous"><a href="{% url 'elbroquil.views.view_product_orders' previous_product %}">&larr; {{ prev_product_name }}</a></li>
			  	<li class="next"><a href="{% url 'elbroquil.views.account_summary' %}">{% trans "Close account" %} &rarr;</a></li>
			</ul>
		</div>
		
		<div class="row">
        <form id="member-form" role="form"  action="{% url 'elbroquil.views.member_payment' %}" method="POST"  class="form-horizontal">
            	{% csrf_token %}
			<input name="form-name" type="hidden" value="member-form"/>
			
			  <div class="form-group">
			    <div class="col-md-offset-3 col-md-6">
		      		 <select id="member-id" name="member-id" class="form-control">
				  		<option value="-1">{% trans "CHOOSE MEMBER" %}</option>
						{% for member, payment_status in member_orders %}
					  		<option value="{{ member.pk }}" {% if member_id == member.pk %}selected{% endif %}>{% if payment_status %}+{% endif %}{{ member.get_full_name }}</option>
					  	{% endfor %}
					</select>
			    </div>
			  </div>
			
		</form>
		</div>
		
		
		<div class="alert alert-info col-md-offset-3 col-md-6" role="alert">{{ paid_count }} / {{ total_count }} {% trans " members paid." %}</div>
		{% if member_phone %}
		<div class="alert alert-success col-md-offset-4 col-md-4 centered" role="alert"><span class="glyphicon glyphicon-phone-alt green-icon"></span> <span class="phone-number">{{ member_phone }}</span></div>
		{% endif %}
		
		{% if member_id > 0 %}
		<div class="row">
        <form id="payment-form" role="form"  action="{% url 'elbroquil.views.member_payment' %}" method="POST"  class="form-horizontal col-md-offset-2 col-md-10">
            	{% csrf_token %}
			<input name="form-name" type="hidden" value="payment-form"/>	
			<input name="member-id" type="hidden" value="{{ member_id }}"/>
			
			<div class="col-md-10">
				<div class="form-group">
			    	<label for="amount-product" class="control-label col-md-4">{% trans "Products:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group"> 
							<input id="amount-product" name="amount-product" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ total_price }}" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				<div class="form-group">
			    	<label for="amount-debt" class="control-label col-md-4">{% trans "Debt from last week:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group"> 
							<input id="amount-debt" name="amount-debt" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-min="-9999" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ last_debt }}" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				{% if quarterly_fee > 0 %}
				<div class="form-group">
			    	<label for="amount-quarterly" class="control-label col-md-4">{% trans "Pay quarterly fee:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group"> 
				      		<span class="input-group-addon">
				        		<input id="pay-quarterly" name="pay-quarterly" type="checkbox" {% if quarterly_fee_paid %}checked{% endif %}>
				      		</span>
							<input id="amount-quarterly" name="amount-quarterly" type="text" class="form-control bfh-number input-sm quantity" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ quarterly_fee }}" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				{% endif %}
				<hr>
				<div class="form-group has-success">
			    	<label for="amount-total" class="control-label col-md-4">{% trans "TOTAL TO PAY:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group">
							<input id="amount-total" name="amount-total" type="text" class="form-control bfh-number input-lg quantity" data-keyboard="true" data-min="-9999" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ total_to_pay }}" disabled/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				<div class="form-group">
			    	<label for="amount-paid" class="control-label col-md-4">{% trans "Paid:" %}</label>
			    	<div class="col-md-4">
				    	<div class="input-group">
							<input id="amount-paid" name="amount-paid" type="text" class="form-control bfh-number input-lg quantity focusedInput" data-keyboard="true" data-integer="false" data-allowzero="true" data-buttons="false" value="{{ paid_amount }}"/>
				      		<div class="input-group-addon"><strong>&euro;</strong></div>
						</div>
					</div>
				</div>
				<div class="form-group">
			    	<div class="col-md-offset-4 col-md-6  bg-info">
				    	<div class="input-group">
							<p class="text-info"><label id="amount-next-debt" class="form-control-static text-primary">{{ next_debt }}</label> <strong>&euro;</strong> {% trans "marked as debt for next week." %}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="sidebar">
				<button id="save_button" type="submit" class="btn btn-lg btn-success pull-right">{% trans "Save changes" %}</button>
				</div>
			</div>
		</form>
		</div>
		
		<div class="row">
			<div class="panel-group" id="accordion">
			{% if counted_product_list|length > 0 %}
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" href="#collapseOne">
			          {% trans "PRODUCTS" %}
			        </a>
					<span style="float: right;">{{ total_price }} &euro;</span>
			      </h4>
			    </div>	
			    <div id="collapseOne" class="panel-collapse collapse">
			      <div class="panel-body">		
					<table class="table table-striped">
						<thead>
					    	<tr>
					        	<th></th><th class="quantity">{% trans "Price" %}</th><th class="quantity">{% trans "Quantity" %}</th><th class="quantity">{% trans "Total" %}</th>
					        </tr>
					    </thead>
					    <tbody>
						{% for pr in counted_product_list %}
			        		<tr><td><a href="{% url 'elbroquil.views.view_product_orders_with_id' pr.product.pk %}">{{ pr.product.name }}</a></td><td class="quantity">{{ pr.product.price|floatformat:2 }} &euro;</td><td class="quantity">{{ pr.arrived_quantity }} {{ pr.product.unit }}</td><td class="quantity">{{ pr.arrived_quantity|mul:pr.product.price|floatformat:2 }} &euro;</td></tr>
						{% endfor %}
							</tbody>
					</table>
			      </div>
			    </div>	
			  </div>		
			{% endif %}
			{% if not_ordered_product_list|length > 0 or not_arrived_product_list|length > 0 or amount_changed_product_list|length > 0 %}
			  <div class="panel panel-default">
			    <div class="panel-heading incident-panel">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" href="#collapseTwo">
				    	{% trans "INCIDENTS" %}
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse in">
			      <div class="panel-body">	
					<div class="row">
			        	<div class="col-md-3">
							<table class="table table-striped">
							  <thead>
						        <tr>
						          <th>{% trans "Not Ordered"%}</th>
						        </tr>
						      </thead>
						      <tbody>
								{% if not_ordered_product_list|length > 0 %}
									{% for pr in not_ordered_product_list %}
						        	<tr><td>{{ pr.product.name }}</td></tr>
									{% endfor %}
								{% else %}
							        <tr><td class="centered">---</td></tr>
								{% endif %}
						      </tbody>
						    </table>
						</div>
						<div class="col-md-3">
							<table class="table table-striped">
							  <thead>
						        <tr>
						          <th>{% trans "Not Arrived"%}</th>
						        </tr>
						      </thead>
						      <tbody>
								{% if not_arrived_product_list|length > 0 %}
									{% for pr in not_arrived_product_list %}
						        	<tr><td>{{ pr.product.name }}</td></tr>
									{% endfor %}
								{% else %}
							        <tr><td class="centered">---</td></tr>
								{% endif %}
						      </tbody>
						    </table>
						</div>
					    <div class="col-md-6">
							<table class="table table-striped">
							  <thead>
						        <tr>
						          <th colspan="3">{% trans "Amount Changed"%}</th>
						        </tr>
								{% if amount_changed_product_list|length > 0 %}
							    <tr>
						          <th></th><th class="quantity">{% trans "Ordered"%}</th><th class="quantity">{% trans "Final"%}</th>
						        </tr>	
								{% endif %}
						      </thead>
						      <tbody>
								{% if amount_changed_product_list|length > 0 %}
									{% for pr in amount_changed_product_list %}
						        	<tr><td><a href="{% url 'elbroquil.views.view_product_orders_with_id' pr.product.pk %}">{{ pr.product.name }}</a></td><td class="quantity">{{ pr.quantity }} {{ pr.product.unit }}</td><td class="quantity">{{ pr.arrived_quantity }} {{ pr.product.unit }}</td></tr>
									{% endfor %}
								{% else %}
							        <tr><td class="centered">---</td></tr>
								{% endif %}
						      </tbody>
						    </table>
						</div>
					</div>
			      </div>
			    </div>
			  </div>
			{% endif %}
			</div>
		</div>
   		{% endif %}
 	</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
	 $(function() {
		// Set selected menu item
		$('#menu-item-distribution').addClass("active");
		
		// If left and right arrow keys are pressed (outside input boxes), 
		// switch to next or previous product
		$("body").keydown(function(e) {
		  if( e.target.tagName.toLowerCase() !== 'input' &&
			  e.target.tagName.toLowerCase() !== 'textarea' && 
			  e.keyCode == 37) { // left
			if($('li.previous > a').length)
				window.location = $('li.previous > a').attr('href');
		  }
		  else if(	e.target.tagName.toLowerCase() !== 'input' &&
			  		e.target.tagName.toLowerCase() !== 'textarea' && 
					e.keyCode == 39) { // right
			if($('li.next > a').length)
				window.location = $('li.next > a').attr('href');
		  }
		});
		
		
		// Bind the event so that when dropdown (producer) changes, form is submitted
		$("#member-id").change(function(e) {
			$("#member-form").submit();
		});
		
		var updateNextDebt = function(dummy) {
			var next_debt = parseFloat($("#amount-total").val()) - parseFloat($("#amount-paid").val());
			next_debt = Math.round(next_debt*100)/100;
			
			$("#amount-next-debt").text(next_debt);
			//alert('next debt changed');
		}
		
		// If there is quarterly fee, enable its event to update the total amount
		if ($("#pay-quarterly").length > 0){
			$("#pay-quarterly").click(function() {
			    var $this = $(this);
		
			
				var total_amount = parseFloat($("#amount-product").val()) + parseFloat($("#amount-debt").val());
			
			    if ($this.is(':checked')) {
					total_amount += parseFloat($("#amount-quarterly").val());
				}
			
				$("#amount-total").val(total_amount.toFixed(2));
				updateNextDebt();
			});
		}

		// Click an item when list item is clicked
		$(".wizard > .steps > li").click(function(e){
			e.target.children[0].click();
		});
		
		
		$("#amount-paid").change(updateNextDebt);
		
		/*
		// If text inputs are changed, enable the save button
		$('#initial-cash').keyup(function( event ) {
			$('#save_button').removeAttr('disabled');
		});
		
		// Activate the save button's form submit
		$("#save_button").click(function(e) {
		    $("form").submit();
		});
		*/
	  });
</script>
{% endblock %}