{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
	{% if products %}
<h1>{% trans "This week's order" %}</h1>
	{% else %}
<h1>No orders</h1>
	{% endif %}
{% endblock %}


{% block extrahead %}
{% endblock %}

{% block scriptincludes %}
<script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
<!-- <script type="text/javascript" src="/static/scripts/jquery.dataTables.min.js"></script> -->
<script type="text/javascript" src="/static/scripts/bootstrap-formhelpers-number.js"></script>
{% endblock %}


{% block content %}
	{% if products %}
	{% include "distribution/wizard.html" with step=1 current_product=0 total_products=0 %}
	<br/>
	<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans "Check that all the products has arrived. You can mark the products you have checked by clicking on them." %}</div>
	{% endif %}
	
    <div id="content-main" class="inner-two-columns">
		{% if products %}		
        <form action="{% url 'elbroquil.views.view_order_totals' %}" method="POST" class="form-inline">
	    	{% csrf_token %}
			<div>
				<div>
					<ul class="pager">
					  <li class="previous blankpreviouspager"></li>
					  <li><h2 class="fillSpace"></h2></li>
					  <li class="next"><a href="{% url 'elbroquil.views.count_initial_cash' %}">{% trans "Count initial cash "%} &rarr;</a></li>
					</ul>
				</div>
		        <div class="table-responsive col-md-10">
					<table id="totals_table" class="category_table table table-striped table-condensed table-bordered" >
					<tbody>
						{% for product, add_category_row in products %}
							{% if add_category_row %}
							<tr>
								<td class="category-row info" colspan="5">{{ product.category|upper }}</td>
							</tr>
							<tr><th class="product_name_header">{% trans "Product" %}</th><th class="product_price_header">{% trans "Price" %}</th><th class="product_order_header">{% trans "Order" %}</th><th class="product_order_header">{% trans "Arrived" %}</th></tr>
							{% endif %}
							<tr class="selectablerow {% if product.integer_demand and product.unit == 'kg' %}has-error{% endif %}" id="selectablerow_{{ product.id }}">
								<td>{{ product.name }}</td>
								<td class="price">{{ product.price }} <span style="width: 40px;">&euro;</span></td>
								<td class="quantity"><p class="form-control-static"><strong>{{ product.total_quantity }}</strong> <span style="width: 40px;">{{ product.unit }}</span></p></td>
								<td class="quantity"><input id="product_arrived_{{ product.id }}" name="product_arrived_{{ product.id }}" type="text" class="product-order form-control bfh-number input-sm" data-keyboard="true" data-integer="false" data-allowzero="true" data-allowblank="true" data-buttons="false" {% if product.arrived_quantity != product.total_quantity %}value="{{ product.arrived_quantity }}"{% endif %}/></td>
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
			    <div class="table-responsive col-md-2">
					<div class="sidebar">
					<button id="save_button" type="button" class="btn btn-lg btn-success" disabled="disabled">{% trans "Save changes" %}</button>
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="alert alert-warning">{% trans "No orders made this week!" %}</div>
		{% endif %}
    </div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
	 $(function() {
		// Set selected menu item
		$('#menu-item-distribution').addClass("active");
		
		// Cookie parameters for this page
		var cookie_name = 'selected_rows';
		var cookie_expires = 2;
		
		// On row clicked, add/remove highlight ('success' class) to the product row
		// Update the cookie value that contains the selected rows and save cookie
		$(".selectablerow").click(function(e){
			var product_id = $(this).attr('id').split('_')[1];
			
			cookie_value = $.cookie(cookie_name);
			
			if (cookie_value == undefined)
				cookie_value = '';
			
			if($(this).hasClass("success")) {
			 	$(this).removeClass("success");
				cookie_value = cookie_value.replace(';' + product_id + ';', '');
			}
			else {
			 	$(this).addClass("success");
				cookie_value += ';' + product_id + ';';
			}
			
			$.cookie(cookie_name, cookie_value, { expires: cookie_expires });
		});
		
		// Read the cookie, highlight the rows contained in the saved selected row list 
		selected_rows = $.cookie(cookie_name);
		if(selected_rows != undefined) {
			selected_rows = selected_rows.split(';');
		
			for(i=0; i<selected_rows.length; i++) {
				if(selected_rows[i]) {
					$('#selectablerow_' + selected_rows[i]).addClass("success");
				}
			}
		}
		
		// If left and right arrow keys are pressed (outside input boxes), 
		// switch to next or previous product
		$("body").keydown(function(e) {
		  if( e.target.tagName.toLowerCase() !== 'input' &&
			  e.target.tagName.toLowerCase() !== 'textarea' && 
			  e.keyCode == 37) { // left
			if($('li.previous > a').length)
				window.location = $('li.previous > a').attr('href');
		  }
		  else if(	e.target.tagName.toLowerCase() !== 'input' &&
			  		e.target.tagName.toLowerCase() !== 'textarea' && 
					e.keyCode == 39) { // right
			if($('li.next > a').length)
				window.location = $('li.next > a').attr('href');
		  }
		});
		
		// If text inputs are changed, enable the save button
		$('input.product-order').keyup(function( event ) {
			$('#save_button').removeAttr('disabled');
		});
		
		// Activate the save button's form submit
		$("#save_button").click(function(e) {
		    $("form").submit();
		});
	  });
</script>
{% endblock %}