{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
<h1>{% trans "Prepare baskets" %}</h1>
{% endblock %}


{% block extrahead %}
{% endblock %}

{% block scriptincludes %}
<script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
<!-- <script type="text/javascript" src="/static/scripts/jquery.dataTables.min.js"></script> -->
<script type="text/javascript" src="/static/scripts/bootstrap-formhelpers-number.js"></script>
{% endblock %}


{% block content %}
	{% include "distribution/wizard.html" with step=1 current_product=0 total_products=0 %}
	<br/>
	<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans "Prepare the baskets for each member. Place an extra basket for the indicated members (with more products)." %}</div>
    <div id="content-main" class="inner-two-columns">
		</div>
			<div>
				<div>
				<ul class="pager">
				  <li class="previous"><a href="{% url 'elbroquil.views.count_initial_cash' %}">&larr; {% trans "Count initial cash" %}</a></li>
				  <li class="next"><a href="{% url 'elbroquil.views.view_product_orders' 1 %}">{% trans "Start distribution" %} &rarr;</a></li>
				</ul>
				</div>
				<div class="table-responsive col-md-offset-3 col-md-6">
					<table id="table_product_order" class="product_order_table table table-striped table-condensed table-bordered" >
					<thead>
						<tr><th>#</th><th class="member_name_header">{% trans "Cooperative Member" %}</th><th class="product_order_header">{% trans "Extra basket?" %}</th><th class="product_order_header">{% trans "Order total" %}</th></tr>
					</thead>
					<tbody>
						{% for person_order in order_summary %}
						<tr class="selectablerow" id="selectablerow_{{ order.id }}">
							<td class="order_col"><strong>{{ forloop.counter }}</strong></td>
							<td class="member_name_col">{{ person_order.1 }}</td>
							<td class="quantity">{% if person_order.3 > 1 %}<span class="glyphicon glyphicon-ok basket-icon"></span>{% endif %}</td>
							<td class="quantity">{{ person_order.2|floatformat:2 }} &euro;</td>
						</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
    </div>
	    </div>
{% endblock %}


{% block extrascripts %}
<script type="text/javascript">
	 $(function() {
		// Set selected menu item
		$('#menu-item-distribution').addClass("active");
		
		// If left and right arrow keys are pressed (outside input boxes), 
		// switch to next or previous product
		$("body").keydown(function(e) {
		  if( e.target.tagName.toLowerCase() !== 'input' &&
			  e.target.tagName.toLowerCase() !== 'textarea' && 
			  e.keyCode == 37) { // left
			if($('li.previous > a').length)
		    	window.location = $('li.previous > a').attr('href');
		  }
		  else if(	e.target.tagName.toLowerCase() !== 'input' &&
			  		e.target.tagName.toLowerCase() !== 'textarea' && 
					e.keyCode == 39) { // right
			if($('li.next > a').length)
				window.location = $('li.next > a').attr('href');
		  }
		});
		
		
		
	  });
</script>
{% endblock %}