{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block content_title %}
<h1>{% trans "Update order" %}</h1>
{% endblock %}


{% block extrahead %}
<link rel="stylesheet" href="/static/styles/star-rating.min.css" type="text/css">
<link rel="stylesheet" href="/static/styles/sco.message.css" type="text/css">
{% endblock %}

{% block scriptincludes %}
<script type="text/javascript" src="/static/scripts/bootstrap-formhelpers-number.js"></script>
<script type="text/javascript" src="/static/scripts/star-rating.js"></script>
<script type="text/javascript" src="/static/scripts/sco.message.js"></script>
{% endblock %}

{% block content %}
    <div id="content-main" class="inner-two-columns">
		{% if products %}
			<div class="progress">
			  <div class="progress-bar progress-bar-info" style="width: {{ progress }}%">
			    <span class="sr-only">{{ progress }}% {% trans "Complete" %}</span>
			  </div>
			</div>
	        <form action="{% url 'elbroquil.views.update_order' category_no %}" method="POST">
		    	{% csrf_token %}
				<!--<button type="button" value="save" id="product_save_button" class="btn btn-primary" data-role="button" data-loading-text="Saving...">
					Save
				</button> -->
				<div>
					<div>						
						<ul class="pager">
							{% if prev_category_no %}	
							  <li class="previous"><a href="{% url 'elbroquil.views.update_order' prev_category_no %}">&larr; {{ prev_category_name }}</a></li>
							{% else %}
							  <li class="previous importantlink"><a href="{% url 'elbroquil.views.view_order' %}">&larr; {% trans "View order" %}</a></li>
							{% endif %}
						  <li><h2 class="fillSpace">{{ category_name }}<br/><small>{% trans "Available until:"%} 
							{% if products.0.0.order_limit_date < few_hours_later %}
							<span class="label label-danger">
							{% elif products.0.0.order_limit_date < a_day_later %}
							<span class="label label-warning">
							{% else %}
							<span class="label label-success">
							{% endif %}
							{% timezone "Europe/Madrid" %}
								{{ products.0.0.order_limit_date }}
							{% endtimezone %}
							</span></small></h2></li>
							{% if next_category_no %}	
							  <li class="next"><a href="{% url 'elbroquil.views.update_order' next_category_no %}">{{ next_category_name }} &rarr;</a></li>
							{% else %}
							  <li class="next importantlink"><a href="{% url 'elbroquil.views.view_order' %}">{% trans "View order" %} &rarr;</a></li>
							{% endif %}
						</ul>
					</div>
					
					<div class="table-responsive col-md-10">
						<table id="table_{{ category_id }}" class="category-table table table-striped table-condensed table-bordered" >
						<thead>
							<tr><th>{% trans "Order" %}</th><th>{% trans "Product" %}</th><th>{% trans "Price" %}</th><th>{% trans "Unit" %}</th><th>{% trans "Origin" %}</th><th>{% trans "Rating" %}</th></tr>
						</thead>
						<tbody>
							{% for product, product_order in products %}
							<tr {% if product_order %}class="success"{% endif %}>
								<td class="quantity">
									{% if product.integer_demand %}
									<div class="input-group input-group-sm" >
									<input id="product_{{ product.id }}" name="product_{{ product.id }}" type="text" class="quantity-input product-order form-control bfh-number integer-order" data-keyboard="true" data-integer="true" {% if product_order %} value="{{ product_order|localize }}" {% endif %}/>
									</div>
									{% else %}
									<input id="product_{{ product.id }}" name="product_{{ product.id }}" type="text" class="quantity-input product-order form-control bfh-number float-order" data-keyboard="true" data-integer="false" data-buttons="false" {% if product_order %} value="{{ product_order|localize }}" {% endif %}/>
									{% endif %}
									</td>
								<td>{{ product.name }}{% if product.comments %} <span class="glyphicon glyphicon-comment right-tooltip larger-text blue-icon" data-toggle="tooltip" data-placement="right" title="{{ product.comments }}"></span>{% endif %}{% if product.new_product %} <span class="label label-success">{% trans "NEW!"%}</span>{% endif %}</td>
								<td class="price">{{ product.price|floatformat:2 }}</td>
								<td>&euro;/{{ product.unit }}</td>
								<td>{{ product.origin }}</td>
								<td>{% if product.average_rating > 0 %}<input class="rating" data-readonly="true" value="{{ product.average_rating|unlocalize }}" data-size="xs" data-show-clear="false" data-show-caption="false">{% endif %}</td>
							</tr>
							{% endfor %}
						</tbody>
						</table>
					</div>
					<div class="col-md-2">
						<div class="sidebar">
						<button id="save_button" type="button" class="btn btn-lg btn-success pull-right" disabled="disabled">{% trans "Save changes" %}</button>
						</div>
					</div>
				</div>
	        </form>
		{% else %}
			<div class="alert alert-warning">{% trans "No products offered this week!" %}</div>
		{% endif %}
    </div>
	    </div>
{% endblock %}


{% block extrascripts %}
<script type="text/javascript">
	 $(function() {	
		// Set selected menu item
		$('#menu-item-order').addClass("active");
		
		$(".right-tooltip").tooltip();
		
		// If text inputs are changed, highlight the table row depending on textbox contents
		// When textbox is filled (product is ordered), row is highlighted with green color ('success' class)
		order_change_handler = function( event ) {
			
			parent_row = $('#' + event.target.id);
			
			while(parent_row.prop("tagName").toLowerCase() != 'tr')
				parent_row = parent_row.parent();
			
			if(event.target.value.trim() == '')
				parent_row.removeClass('success');
			else
				parent_row.addClass('success');
		
			// If there is some new input, enable the save button		
			$('#save_button').removeAttr('disabled');
			$.scojs_message("{% trans "Don't forget to save your order!" %}", $.scojs_message.TYPE_WARNING);
			
			
    		//window.onbeforeunload = function() {
    		//     return "{% trans "You haven't saved your order. Do you want to close the page?" %}";
    		//}
		};
		
		$('input.product-order').change(order_change_handler);
		$('input.product-order').keyup(order_change_handler);
		
		
		//window.onbeforeunload = null;
		
		// If left and right arrow keys are pressed (outside input boxes), switch to next or previous
		// category of products
		$("body").keydown(function(e) {
		  if( e.target.tagName.toLowerCase() !== 'input' &&
			  e.target.tagName.toLowerCase() !== 'textarea' && 
			  e.keyCode == 37) { // left
			if($('li.previous > a').length)
		    	window.location = $('li.previous > a').attr('href');
		  }
		  else if(	e.target.tagName.toLowerCase() !== 'input' &&
			  		e.target.tagName.toLowerCase() !== 'textarea' && 
					e.keyCode == 39) { // right
			if($('li.next > a').length)
				window.location = $('li.next > a').attr('href');
		  }
		});
		
		// Activate the save button's form submit
		$("#save_button").click(function(e) {
			$("form").submit();
		});
		
		// Continue the site tour if it's in a middle step
		{% include "order/tour.js" with order_first_page=1 order_last_page=category_count %}
		
		if (hopscotch.getState() && hopscotch.getState().lastIndexOf("hello-hopscotch", 0) === 0) {
		    hopscotch.startTour(tour);
		}
	  });	
</script>
{% endblock %}