{% extends "base.html" %}
{% load i18n %}

{% block content_title %}
<h1>{% trans "Your order for this week" %} {% if available_product_count %}<a href="{% url 'elbroquil.views.update_order' 1 %}" class="btn btn-success btn-lg active pull-right" role="button">{% trans "Update your order" %} &rarr;</a>{% endif %}</h1>
{% endblock %}


{% block extrahead %}
{% endblock %}

{% block scriptincludes %}
<script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
<!-- <script type="text/javascript" src="/static/scripts/jquery.dataTables.min.js"></script> -->
{% endblock %}

{% block content %}
    <div id="content-main" class="inner-two-columns">
		{% if orders_with_totals %}
			<h2>{{ orders_with_totals.0.0.product.distribution_date }}</h2>
	        <div class="table-responsive">
				<table class="category_table table table-striped table-condensed table-bordered" >
				<thead>
					<tr><th class="product_name_header">{% trans "Product" %}</th><th class="product_price_header">{% trans "Price" %}</th><th class="product_order_header">{% trans "Order" %}</th><th class="product_unit_header">{% trans "Unit" %}</th><th class="product_total_header">{% trans "Total" %}</th></tr>
				</thead>
				<tbody>
					{% for order, total in orders_with_totals %}
					<tr>
						<td>{% if not order.arrived_quantity %}<s>{{ order.product.name }}</s>{% else %}{{ order.product.name }}{% endif%}</td>
						<td class="price">{{ order.product.price|floatformat:2 }}</td>
						<td class="quantity">{{ order.arrived_quantity }}</td>
						<td>{{ order.product.unit }}</td>
						<td class="total success">{{ total|floatformat:2 }}</td>
					</tr>
					{% endfor %}
					{% if debt != 0 %}
					<tr>
						<td colspan="2"></td>
						<td colspan="2" class="">{% trans "Debt:" %}</td>
						<td class="total success">{{ debt }}</td>
					</tr>
					{% endif %}
					{% if quarterly_fee > 0 %}
					<tr>
						<td colspan="2"></td>
						<td colspan="2" class="">{% trans "Quarterly Fee:" %}</td>
						<td class="total success">{{ quarterly_fee }}</td>
					</tr>
					{% endif %}
					<tr>
						<td colspan="2"></td>
						<td colspan="2" class="total-info success">{% trans "TOTAL TO PAY:" %}</td>
						<td class="success total-lg" style="border: 2px solid green;">{{ overall_sum|floatformat:2 }} &euro;</td>
					</tr>
				</tbody>
				</table>
			</div>
		{% else %}
			<div class="alert alert-warning">{% trans "You do not have any order currently!" %}</div>
		{% endif %}
		
		{% if rest_of_orders %}
			<h2>{% trans "Products to be distributed later" %}</h2>
	        <div class="table-responsive">
				<table class="category_table table table-striped table-condensed table-bordered" >
				<thead>
					<tr><th>{% trans "Distribution Date" %}</th><th class="product_name_header">{% trans "Product" %}</th><th class="product_price_header">{% trans "Price" %}</th><th class="product_order_header">{% trans "Order" %}</th><th class="product_unit_header">{% trans "Unit" %}</th></tr>
				</thead>
				<tbody>
					{% for order in rest_of_orders %}
					<tr>
						<td>{{ order.product.distribution_date }}</td>
						<td>{% if not order.arrived_quantity %}<s>{{ order.product.name }}</s>{% else %}{{ order.product.name }}{% endif%}</td>
						<td class="price">{{ order.product.price|floatformat:2 }}</td>
						<td class="quantity">{{ order.arrived_quantity }}</td>
						<td>{{ order.product.unit }}</td>
					</tr>
					{% endfor %}
				</tbody>
				</table>
			</div>
		{% endif %}
    </div>
{% endblock %}


{% block extrascripts %}
<script type="text/javascript">
	 $(function() {
		// Set selected menu item
		$('#menu-item-order').addClass("active");
	  });
</script>
{% endblock %}