{% extends "base.html" %}
{% comment %}{% extends "admin/base_site.html" %}{% endcomment %}
{% load i18n %}

{% block extrahead %}
<!--<link rel="stylesheet" href="/static/styles/jquery.dataTables.css" type="text/css">-->
{% endblock %}

{% block content_title %}
<h1>{% trans "Check the product information" %} <button id="confirm_button" type="button" class="btn btn-lg btn-success pull-right">{% trans "Save products" %}</button></h1>
{% endblock %}

{% block content %}
	<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans "Check that the product information is processed correctly. If everything is correct, <strong>save the products</strong>. If there is an error, inform the administrator." %}</div>
	<div class="row">
		<div class="span12">
		
	        <form id="form-check" action="{% url 'elbroquil.views.confirm_products' %}" method="POST" class="form-horizontal">	
	            	{% csrf_token %}
					<table id="products_table" class="table table-striped table-bordered table-hover table-condensed">
					<thead>
					<tr><th>{% trans "Category" %}</th><th>{% trans "Product Name" %}</th><th>{% trans "Price" %}</th><th>{% trans "Unit" %}</th><th>{% trans "Origin" %}</th><th>{% trans "Comments" %}</th></tr>
					</thead>
					<tbody>
					{% for product in products %}
						<tr>
						{% for product_property in product %}
						<td>{% if product_property %}{{ product_property }}{% endif %}</td>
						{% endfor %}
						</tr>
					{% endfor %}
					</tbody>
					</table>
					<input id="table_data" name="table_data" type="hidden"/>
					<input id="producer_id" name="producer_id" type="hidden" value="{{ producer }}" />
			
			
	        </form>
		</div>
	</div>
{% endblock %}


{% block scriptincludes %}
<script type="text/javascript" src="/static/scripts/jquery.dataTables.min.js"></script>
{% endblock %}


{% block extrascripts %}
<script type="text/javascript">
$(function() {
	// Set selected menu item
	$('#menu-item-product').addClass("active");
	
	// Activate the upload button's form submit
	$("#confirm_button").click(function(e) {
		$("form").submit();
	});
	
     $("#form-check").on("submit", function(event) {
        //event.preventDefault();
		var myTableArray = [];

		$("table#products_table tr").each(function() {
		    var arrayOfThisRow = [];
		    var tableData = $(this).find('td');
		    if (tableData.length > 0) {
		        tableData.each(function() { arrayOfThisRow.push($(this).text()); });
		        myTableArray.push(arrayOfThisRow);
		    }
		});
		
		//alert(JSON.stringify(myTableArray));
		$("#table_data").val(JSON.stringify(myTableArray));
		
        /* $.ajax({
             url: "somefile.php",
             type: "post",
             data: JSON.stringify(myTableArray)//,
             //success: function(d) {
             //    ;
             //}
         });
*/
     });
 });
</script>
{% endblock %}