{% extends "base.html" %}
{% comment %}{% extends "admin/base_site.html" %}{% endcomment %}
{% load i18n %}
{% load bootstrap %}

{% block content_title %}
<h1>{% trans "Upload the products excel" %} <button id="upload_button" type="button" class="btn btn-lg btn-success pull-right">{% trans "Read from Excel" %}</button></h1>
{% endblock %}

{% block content %}
    {% if error_message %}
	<div class="alert alert-danger"><span class="glyphicon glyphicon-info-sign"></span> {{ error_message }}</div>
    {% endif %}
	<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans "Choose the producer and upload the products excel." %}</div>
	<div class="row">
    	<div class="span12">
        <form action="{% url 'check_products' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
            	{% csrf_token %}
				{{ form|bootstrap_horizontal }}
        </form>
		</div>
    </div>
{% endblock %}


{% block extrascripts %}
<script type="text/javascript">
	 $(function() {	
		// Set selected menu item
		$('#menu-item-product').addClass("active");
		
		// Activate the upload button's form submit
		$("#upload_button").click(function(e) {
			$("form").submit();
		});
	  });	
</script>
{% endblock %}