{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <div id="content-main" class="inner-two-columns">
        <form action="{% url 'elbroquil.views.check_products' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
			<div class="inner-right-column">
		        <div class="box save-box">
					<div class="submit-row clearfix">
						<input type="submit" name="submit" class="btn btn-high btn-info" value="{% trans "Read from Excel" %}"/>
					</div>
		        </div>
			</div>
		
            <div class="inner-center-column">
            	{% csrf_token %}
				{{ form }}
			</div>
			
        </form>
    </div>
{% endblock %}